%p#notice= notice

%p
  %b Content:
  = @question.content
%p
  %b Count:
  = @question.count
%p
  %b Subject:
  = @question.subject_id

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
